API_PORT=8000
API_USERNAME=admin
API_PASSWORD=shutdown123
# API is enabled only when both username and password are set
INTERVAL_SECONDS=10
IDLE_TIME_SECONDS=500
CPU_IDLE_THRESHOLD_PERCENT=20
GPU_IDLE_THRESHOLD_PERCENT=5
SURPLUS_CHECK_URL=
ENABLE_IDLE_DETECTION=false
